* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}

html, body{
    height: 100%;
    background-color: rgb(20, 20, 20);
    color: white;
}

.backgroundDesign {
    display:block;
    background-image:url('ReignBG.JPG');
    max-width: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo{
    height:25px;
    padding:5;
    margin:0;
    float:left;
    padding-left: 7em;
    padding-top:11px;
}

header {
    display:block;
    position:fixed;
    top:0;
    width:100%;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.6);
    
}

nav{
    float:right;
    padding-right: 10px;
    padding-top:10px;
    overflow: hidden;
}

nav a:visited, nav a:link{
    color: white;
    text-decoration: none;
    font-family: 'arial';
}

nav > ul {
    display: flex;
    padding:0;
}

nav > ul > li {
    display:block;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    margin: 5px;    
}

nav a:hover,  a:hover{
    color:rgb(255, 69, 69);
}

nav a:active{
    border-bottom: 1px solid rgb(201, 26, 26);
}

.menu{
    display: none;
}

.homePage {
    padding-top:15em;
    text-align: center;
    height:75%;
}

h1 {
    color: rgb(201, 26, 26);
    font-family:'Oswald Regular';
    font-size: 60px;
}

h2 {
    color:whitesmoke;
    font-family: 'Oswald Regular';
    font-size: 30px;
}

.redBtn {
    font-family: "Arial";
    background-color: transparent;
    color:rgb(255, 69, 69);
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 3px solid rgb(255, 69, 69);
    margin-top:30px;
    cursor:pointer;
    
}

button a:visited, button a:link{
    color:rgb(255, 69, 69);
    text-decoration: none;
    font-family: 'arial';
}

footer{
    background-color: rgb(17, 17, 17);
    text-align: center;
    width:100%;
    height:11em;
    padding-top:30px;
    bottom:0;
    color:white;
}

footer ul{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer ul li{
    list-style: none;
    display: flex;

}

footer a{
    color:white;
    padding: 10px 20px;
}

.references{
    display: flex;
    text-align: left;
    color:white;
    padding-left:100px;
    padding-top:0;
}

.references div{
    flex:1;
}

.referenceName{
    padding-top: 20px;
    font-family: 'Arial';
    font-style:initial;
    font-size: 15px;
}

.referenceContent{
    color:whitesmoke;
    font-family: 'Arial';
    font-style:initial;
    font-size: 12px;

}

.referenceLabel{
    text-align: left;
    color:white;
    padding-left:100px;
    padding-top:5px;
    font-family: 'Arial';
    font-style:initial;
    font-size: 17px;
    border-top:1px solid rgba(231, 231, 231, 0.6);
    margin-top:15px;

}

.reignBanner{
    width:100%;
}

/*.schoolRow{
    padding:40px 0;
    justify-content: center;
    align-items: center;
}*/

.school{
    font-family: "Arial";
    padding: 0 60px;
}

.schoolGrid{
    display:grid;
    grid-template-columns: 20% 20% 20%;
}
.schoolYear{
    font-size: 23px;
}

.schoolName{
    font-size: 20px;
    font-style:initial;
}

.schoolDescription{
    font-size: 13px;
}

.schoolLogo{
    max-height: 150px;
}

@media screen and (max-width:700px){
    nav a:not(.menu){
        display: none;
    }

    .menu{
        display:block;
    }

    .logo{
        padding-left: 2em;
    }

    h1{
        font-size: 50px;
    }
    
    h2{
        font-size: 25px;
    }

    footer{
        height:19em;
    }

    .references{
        display:block;
    }
}